# .coveragerc to control coverage.py
[run]
source = .
omit =
    *tests*
    *migrations*
    *settings*
    *wsgi.py
    *asgi.py
    *manage.py
    *test_*
    *fixtures/*
    *urls.py
    *__init__.py
    *apps.py
